<h1>{{author._id}}</h1>
<h3>{{author.nationality}} {{author.type}}</h3>
<div>
    <b>Born:</b> {{author.born}}
    <b ng-if="author.death">Death:</b> {{author.death}}
</div>
<h2>Sources:</h2>
<ul>
    <li ng-repeat="source in author.sources">
        <div>
            <h2><a href="javascript:void(0)" ng-click="onSourceClick(source._id)">{{source._id}}</a></h2>
            <div>
                The {{source.type}} was released in {{source.publish_date}} and its main language is {{source.disp_lang}}
            </div>
        </div>
    </li>
</ul>

<h2>Unsourced Quotes:</h2>
<h5 ng-if="loadingQuotes">loading...</h5>
<ol ng-if="!loadingQuotes">
    <li ng-repeat="quote in unsourcedQuotes">
        <div>
            <h2><a href="javascript:void(0)" ng-click="onQuoteClick(quote._id)">{{quote.text}}</a> - {{quote.likes}} likes</h2>
        </div>
    </li>
</ol>
