<h1>{{user._id}}</h1>
<h3>A.K.A. {{user.name}}</h3>
<div>
    <b>Email:</b> {{user.email}}
    <b>Role:</b> {{user.role}}
</div>
<h2>Likes:</h2>
<ol>
    <li ng-repeat="like in user.likes">
        <!-- TODO Likes List -->
    </li>
</ol>

<h2>Contributions:</h2>
<h5 ng-if="loadingContribs">loading...</h5>
<ol ng-if="!loadingContribs">
    <li ng-repeat="contrib in contributions">
        <div>
            <i>{{contrib.kind}}</i>
            <i>{{contrib.col}}
            <a href="javascript:void(0)" ng-click="BaseState.toAuthorState(contrib.ref_id)">{{contrib.ref_id}}</a></i>
            on <i>{{contrib.submitted}}</i>.
            Approved by
            <i><a href="javascript:void(0)" ng-click="BaseState.toProfileState(contrib.approved.by)">{{contrib.approved.by}}</a></i>
            on <i>{{contrib.approved.date}}</i>.
        </div>
    </li>
</ol>
