<div class="row">
    <div class="container well col-md-6 center-block">
        <form name="Signup" ng-submit="addUser(user)">
            <h3>Signup now and join the sources hunt!</h3>
            <h4>Together will get rid of all unsourced mysterious quotes of the Web.</h4>
            <div class="form-group">
                <label for="username">Username:</label>
                <input name=username type=text class="form-control" required ng-model="user.id">
            </div>
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input name=name type=text class="form-control" required ng-model="user.name">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input name=password type=password class="form-control" required ng-model="user.password">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input name=email type=email class="form-control" ng-model="user.email">
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <select id="role" class="form-control" required ng-model="user.role">
                        <option value="user" ng-selected selected>User</option>
                        <option value="moderator">Moderator</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>
            <button type="submit" name="submit" class="btn btn-success">Let's do this!</button>
        </form>
    </div>
</div>
