<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{source.title}}</h1>
            <h3>
                by
                <a href ng-click="BaseStateCtrl.toAuthorState(author._id)">{{author.name}}</a>
            </h3>
            <div>
                The
                {{source.type}}
                was released in
                {{source.publish_date}}
                and its main language is
                {{source.disp_lang}}
                <br/>
                <b>Total likes:</b>
                {{source.totalLikes}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Quotes:</h2>
            <h5 ng-if="loading">loading...</h5>
            <ul ng-if="!loading">
                <li ng-repeat="quote in quotes">
                    <blockquote class="blockquote">
                        <p>{{quote.text}}</p>
                        <footer>
                            <qtb-likes val="quote.likes" quote-id="quote._id" has-liked="quote.hasLiked"></qtb-likes>
                        </footer>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</div>
