<h1>Top 3 Mysterious Quotes of all time</h1>
<h5 ng-if="loadingD">loading...</h5>
<ol ng-if="!loadingD">
    <li ng-repeat="quote in mysteriousQuotes">
        <h3>"{{quote.text}}"</h3>
        <h4>by Unknown Author! from Unknown Source! - {{quote.likes}} likes</h4>
    </li>
</ol>

<br />

<h1>Top 3 Unsourced Quotes of all time</h1>
<h5 ng-if="loadingC">loading...</h5>
<ol ng-if="!loadingC">
    <li ng-repeat="quote in unsourcedQuotes">
        <h3>"{{quote.text}}"</h3>
        <h4>by <a href="javascript:void(0)" ng-click="BaseState.toAuthorState(quote.author_id)">{{quote.author_name}}</a> from  - Unknown Source! {{quote.likes}} likes</h4>
    </li>
</ol>

<br />

<h1>Top 3 Most Liked Sources of all time</h1>
<h5 ng-if="loadingB">loading...</h5>
<ol ng-if="!loadingB">
    <li ng-repeat="source in knownSources">
        <h3><a href="javascript:void(0)" ng-click="BaseState.toSourceState(source.author_id[0], source._id)">{{source.title}}</a> - {{source.total_likes}} likes</h3>
    </li>
</ol>

<br />

<h1>Top 3 Most Liked Authors of all time</h1>
<h5 ng-if="loadingA">loading...</h5>
<ol ng-if="!loadingA">
    <li ng-repeat="author in knownAuthors">
        <h3><a href="javascript:void(0)" ng-click="BaseState.toAuthorState(author._id)">{{author.name}}</a> - {{author.total_likes}} likes</h3>
    </li>
</ol>
