/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.topList {
    font-size: 1.6em;
}

ul {
    list-style: none;
}

form.form-signin{
    max-width: 400px;
}

form.form-signup{
    max-width: 550px;
}
