body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: normal 1.563em/1.38 FZLTXHK--GBK1-0;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.author-dates,
.author-likes {
  float: left;
  clear: both;
  width: 100%;
  min-height: 16px;
  font-family: LaoSangamMN;
  font-size: 0.56em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.author-info {
  float: left;
  clear: both;
  width: 100%;
  min-height: 23px;
  font-family: FZLTXHB--B51-0;
  font-size: 0.72em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.author-name {
  float: left;
  width: 100%;
  min-height: 36px;
  font-family: Helvetica;
  font-size: 1.08em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

.col-half-page {
  position: relative;
  float: left;
  width: 39.1666666666%;
  margin-top: 20px;
}

.container {
  position: relative;
  float: left;
  width: 65.2653927813%;
  height: 190px;
}

.container .author {
  float: right;
  clear: both;
  margin-top: -22px;
  text-align: right;
}

.container .likes {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 76;
  padding-left: 5px;
  font-family: LaoSangamMN;
}

.container .quote-info {
  position: absolute;
  top: 146px;
  right: 0;
  z-index: 74;
  width: 100%;
}

.container .quote-text {
  float: right;
  width: 100%;
  padding: 5px;
  font-size: 1.36em;
  text-align: right;
}

.container .source {
  float: right;
  margin-right: 34.22051%;
  text-align: right;
}

.cover {
  float: right;
  width: 145px;
  height: 190px;
  background: url('../images/american_gods.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-position: center center;
}

.element {
  float: left;
  background-color: rgb(222, 222, 222);
}

.horizontal-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto 0;
  text-shadow: 2px 2px 5px black;
}

.likes {
  display: block;
  min-height: 18px;
  font-size: 0.64em;
  text-align: right;
  color: rgb(0, 0, 0);
}

.moto {
  float: left;
  width: 100%;
  min-height: 76px;
  font-family: Kokonor;
  font-size: 1.36em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.navbar {
  float: left;
  width: 80%;
  height: 82px;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
}

.quote {
  float: left;
  width: 100%;
  background-color: rgb(222, 222, 222);
}

.quote .element {
  width: 30.5712579617%;
  height: 190px;
  background-image: url('../images/the_art_of_asking.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.quote-info .author {
  display: block;
  min-height: 18px;
  font-family: LaoSangamMN;
  font-size: 0.64em;
  color: rgb(0, 0, 0);
}

.quote-text {
  min-height: 62px;
  color: rgb(0, 0, 0);
}

.quotes {
  float: left;
  width: 100%;
}

.quotes .author {
  position: relative;
}

.quotes .likes {
  float: right;
}

.quotes .quote {
  clear: both;
}

.quotes .quote-info {
  float: left;
  clear: both;
  width: 100%;
}

.quotes .quote-text {
  float: left;
  width: 100%;
  font-size: 1em;
}

.random-quotes {
  float: right;
  clear: both;
  width: 49.0625%;
  height: 399px;
  margin: -271px -0.10417% 0 0;
}

.random-quotes .quote {
  position: relative;
  height: 190px;
}

.register {
  float: left;
  width: 48.9583333333%;
  height: 271px;
  padding: 10px;
  background-color: rgb(222, 222, 222);
}

.row {
  float: left;
  clear: both;
  width: 80%;
  height: 271px;
  margin: 13px 0 0 10%;
}

.section-title {
  float: left;
  padding-bottom: 10px;
  font-family: 'Lantinghei SC';
  font-size: 1.08em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.signin {
  display: block;
  position: relative;
  float: left;
  z-index: 89;
  width: 30.6382978723%;
  height: 44px;
  margin: 32px 0 0 8.16667%;
  border-radius: 3px;
  background-color: rgb(252, 131, 42);
  font-family: Kokonor;
  font-size: 0.64em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.signin-facebook {
  display: block;
  position: relative;
  float: left;
  z-index: 90;
  width: 9.7872340425%;
  height: 44px;
  margin: 32px 0 0 16px;
  border-radius: 3px;
  background-color: #45619d;
  font-family: Helvetica;
  font-size: 0.64em;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.signin-twitter {
  display: block;
  position: relative;
  float: left;
  z-index: 91;
  width: 9.7899999999%;
  height: 44px;
  margin: 32px 0 0 4.07639%;
  border-radius: 3px;
  background-color: #1da1f2;
  font-family: Helvetica;
  font-size: 0.64em;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.signup {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 88;
  width: 30.6382978723%;
  height: 44px;
  margin-top: 32px;
  border-radius: 3px;
  background-color: rgb(38, 218, 2);
  font-family: Kokonor;
  font-size: 0.64em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.source {
  display: block;
  min-height: 16px;
  font-family: LaoSangamMN;
  font-size: 0.64em;
  color: rgb(0, 0, 0);
}

.source-it {
  display: block;
  float: left;
  min-height: 18px;
  font-size: 0.64em;
  color: rgb(0, 0, 0);
}

.text {
  width: 22.0833333333%;
  min-height: 15px;
  margin: 0 auto;
  font-family: LaoMN;
  font-size: 0.64em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._text {
  width: 23.5416666666%;
  min-height: 22px;
  margin: 0 auto;
  font-family: Kokonor;
  font-size: 1.76em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.author-10 {
  float: left;
  clear: both;
  z-index: 13;
}

.author-2,
.author-3 {
  float: left;
}

.author-4 {
  float: left;
  clear: both;
  z-index: 26;
  width: 48.0851063829%;
  height: 180px;
  background: url('../images/jaron_lanier_01.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.author-5 {
  float: right;
  z-index: 32;
  width: 48.0851063829%;
  height: 180px;
  margin-top: -1px;
  background: url('../images/amanda_palmer_01.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.author-6 {
  float: left;
  clear: both;
  z-index: 39;
  width: 48.0851063829%;
  height: 180px;
  margin: 10px 0 0 -0.07979%;
  background: url('../images/neil_gaiman_02.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.author-7 {
  float: left;
  z-index: 45;
  width: 48.0851063829%;
  height: 180px;
  margin: 10px 0 0 3.90625%;
  background: url('../images/william_shakespeare_02.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.author-8 {
  float: left;
  clear: both;
  z-index: 1;
}

.author-9 {
  float: left;
  clear: both;
  z-index: 7;
}

.col-half-page-1 {
  clear: both;
  z-index: 64;
  height: 817px;
  margin-left: 10%;
}

.col-half-page-2 {
  visibility: hidden;
  z-index: 20;
  margin-left: 1.63021%;
}

.element-2 {
  position: relative;
  clear: both;
  z-index: 97;
  width: 1.5833333333%;
  height: 27px;
  margin: -333px 0 0 56%;
}

.horizontal-center-1 {
  z-index: 25;
  height: 65px;
}

.horizontal-center-2 {
  z-index: 31;
  height: 65px;
}

.horizontal-center-3 {
  z-index: 38;
  height: 63px;
}

.horizontal-center-4 {
  z-index: 44;
  height: 131px;
}

.likes-2,
.likes-3 {
  float: left;
  clear: both;
  padding-left: 5px;
  font-family: LaoSangamMN;
}

.likes-4,
.likes-5,
.likes-6,
.source-it-1,
.source-it-2,
.source-it-3 {
  font-family: 'Lao Sangam MN';
  font-weight: 400;
}

.likes-7,
.likes-8,
.likes-9,
.source-it-4,
.source-it-5,
.source-it-6 {
  font-family: LaoSangamMN;
}

.quote-1 {
  overflow: hidden;
}

.quote-2 {
  clear: both;
  margin-top: 26px;
}

.quote-3 {
  clear: both;
  margin-top: 40px;
}

.quote-5,
.quote-6,
.quote-8,
.quote-9 {
  margin-top: 10px;
}

.quote-info-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 68;
  width: 65.1804670912%;
}

.quote-info-3 {
  float: right;
  clear: both;
  width: 100%;
  margin-right: 0.21231%;
}

.quote-text-2 {
  position: relative;
  float: right;
  z-index: 69;
  width: 65.1804670912%;
  padding: 5px;
  font-size: 1.04em;
}

.quote-text-3 {
  float: right;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}

.quote-text-7,
.quote-text-8,
.quote-text-9 {
  padding: 5px;
}

.quotes-2 {
  clear: both;
  margin-top: 10px;
}

.section-title-1 {
  min-height: 27px;
}

.section-title-2,
.section-title-3 {
  min-height: 32px;
}

.source-2 {
  position: relative;
  float: left;
  z-index: 67;
}

.source-3 {
  position: relative;
  float: left;
  z-index: 82;
}

@media(max-width: 992px) {
  .author .horizontal-center {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .col-half-page {
    position: relative;
  }

  .container .author {
    float: left;
    margin-top: 0;
  }

  .container .likes,
  .quote-info .likes-7,
  .quote-info .likes-8,
  .quote-info .likes-9,
  .quote-info .source-it-4,
  .quote-info .source-it-5,
  .quote-info .source-it-6 {
    width: 20.2537876716%;
  }

  .container .quote-info {
    right: auto;
    width: 99.8735663325%;
  }

  .container .quote-text {
    position: relative;
    float: left;
    z-index: 75;
    width: 99.8735663325%;
    margin-left: 0.09031%;
  }

  .container .source {
    float: left;
    margin-right: 0;
  }

  .element {
    position: relative;
    z-index: 97;
  }

  .horizontal-center .author-dates,
  .horizontal-center .author-info,
  .horizontal-center .author-likes {
    width: 120.8576490204%;
  }

  .horizontal-center .author-name {
    float: none;
    width: 120.8576490204%;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    width: 94.9596774193%;
    margin-left: 2.51859%;
  }

  .navbar .text {
    float: left;
    clear: both;
    width: 14.2250530785%;
    margin-right: 0;
    margin-left: 43.1478899999%;
  }

  .quote .element {
    position: relative;
    z-index: 70;
  }

  .quote-info .author {
    width: 20.2537876716%;
  }

  .quotes .author {
    position: relative;
  }

  .register .signin {
    position: relative;
    z-index: 89;
    width: 36.6133217993%;
    margin-top: 25px;
    margin-left: 16.00385%;
  }

  .register .signin-facebook {
    position: relative;
    clear: both;
    z-index: 90;
    width: 16.0640138408%;
    margin-top: 20px;
    margin-left: 58.05011%;
  }

  .register .signin-twitter {
    position: relative;
    z-index: 91;
    width: 16.0596885813%;
    margin-top: 20px;
    margin-left: 4.93605%;
  }

  .register .signup {
    position: relative;
    z-index: 88;
    width: 36.6133217993%;
    margin-top: 25px;
    margin-left: 5.38718%;
  }

  .row {
    margin-left: 9.99874%;
  }

  .row .random-quotes {
    float: left;
    clear: none;
    width: 47.4750367527%;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 2.21107%;
  }

  .row .register {
    width: 47.4750367527%;
    margin-top: 8px;
    margin-left: -4.14058%;
  }

  .navbar ._text {
    float: left;
    width: 13.6942675159%;
    margin-right: 0;
    margin-left: 43.15287%;
  }

  .col-half-page .quotes-1,
  .col-half-page .quotes-2 {
    width: 93.3653737844%;
  }

  .col-half-page .quotes-3 {
    float: right;
    width: 97.9169127781%;
    margin-right: 2.08317%;
  }

  .col-half-page-1 {
    z-index: 64;
    margin-left: 9.99874%;
  }

  .col-half-page-2 {
    z-index: 20;
    margin-left: 1.63023%;
  }

  .element-2 {
    margin-left: 55.99956%;
  }

  .quote .quote-info-2 {
    right: auto;
  }

  .quote .quote-info-3 {
    position: relative;
    float: left;
    z-index: 83;
    margin-top: -13px;
    margin-right: 0;
  }

  .quote .quote-info-6 {
    position: relative;
    z-index: 59;
  }

  .quote .quote-text-2 {
    position: relative;
    float: left;
    clear: both;
    z-index: 69;
    margin-top: -190px;
  }

  .quote .quote-text-3 {
    position: relative;
    float: left;
    z-index: 84;
  }

  .quote .quote-text-4 {
    width: 100.1201857416%;
    margin-left: -0.11582%;
  }

  .quote .quote-text-5 {
    width: 100.1201857416%;
    margin-left: -0.1163%;
  }

  .quote .quote-text-6 {
    position: relative;
    z-index: 60;
    width: 100.1201857416%;
    margin-left: -0.1163%;
  }

  .quote-info .author-10 {
    z-index: 13;
  }

  .quote-info .author-2 {
    position: relative;
    clear: both;
    z-index: 66;
  }

  .quote-info .author-3 {
    position: relative;
    clear: both;
    z-index: 81;
  }

  .quote-info .author-8 {
    z-index: 1;
  }

  .quote-info .author-9 {
    z-index: 7;
  }

  .quote-info .likes-2 {
    position: relative;
    float: right;
    clear: none;
    z-index: 65;
    width: 20.2537876716%;
  }

  .quote-info .likes-3 {
    float: right;
    clear: none;
    width: 20.2537876716%;
  }

  .quote-info .likes-4,
  .quote-info .likes-5,
  .quote-info .likes-6 {
    width: 20.2734481815%;
  }

  .quote-info .source-2 {
    position: relative;
    z-index: 67;
  }

  .quote-info .source-3 {
    position: relative;
    z-index: 82;
  }

  .quote-info .source-it-1,
  .quote-info .source-it-2,
  .quote-info .source-it-3 {
    width: 20.251572327%;
  }

  .quotes .author-4 {
    z-index: 26;
    width: 99.9116039858%;
  }

  .quotes .author-5 {
    float: left;
    clear: both;
    z-index: 32;
    margin-left: 51.91247%;
  }

  .quotes .author-6 {
    z-index: 39;
    margin-left: -0.07323%;
  }

  .quotes .author-7 {
    z-index: 45;
    margin-left: 3.90679%;
  }

  .quotes .quote-4 {
    position: relative;
    z-index: 51;
    width: 92.9783640312%;
    margin-top: -54px;
    margin-left: 84.89404%;
  }

  .quotes .quote-7 {
    position: relative;
    z-index: 5;
    width: 92.9805528768%;
    margin-top: 44px;
    margin-left: -19.3362900001%;
  }

  .quotes .quote-8 {
    position: relative;
    z-index: 11;
    width: 92.9805528768%;
    margin-top: -78px;
    margin-left: -0.09036%;
  }

  .quotes .quote-9 {
    position: relative;
    z-index: 17;
    width: 92.9805528768%;
    margin-top: -68px;
    margin-left: -0.09036%;
  }

  .quotes .section-title-1 {
    position: relative;
    z-index: 62;
    width: 80.1697096436%;
  }

  .random-quotes .quote-1 {
    width: 70.3698067265%;
  }

  .random-quotes .quote-2 {
    margin-top: 492px;
    margin-left: -6.99652%;
  }

  .random-quotes .quote-3 {
    margin-top: -426px;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1.563em;
  }

  .author .horizontal-center {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .col-half-page {
    position: relative;
  }

  .container .likes,
  .quote-info .likes-3,
  .quote-info .likes-7,
  .quote-info .likes-8,
  .quote-info .likes-9,
  .quote-info .source-it-4,
  .quote-info .source-it-5,
  .quote-info .source-it-6 {
    width: 20.2543270929%;
  }

  .container .quote-info {
    width: 99.8716752216%;
  }

  .container .quote-text {
    position: relative;
    z-index: 75;
    width: 99.8716752216%;
    margin-left: 0.11666%;
  }

  .element {
    position: relative;
    z-index: 97;
  }

  .horizontal-center .author-dates,
  .horizontal-center .author-info,
  .horizontal-center .author-likes,
  .horizontal-center .author-name {
    width: 120.8574505317%;
  }

  .navbar {
    width: 98.046875%;
    margin-left: 1.04167%;
  }

  .navbar .text {
    width: 13.4399900398%;
    margin-left: 44.5654899999%;
  }

  .quote .element {
    position: relative;
    z-index: 70;
  }

  .quote-info .author {
    width: 20.2543270929%;
  }

  .quotes .author {
    position: relative;
  }

  .register .signin {
    position: relative;
    z-index: 89;
    width: 36.6109838538%;
    margin-left: 16.03497%;
  }

  .register .signin-facebook {
    position: relative;
    z-index: 90;
    width: 16.0623498519%;
    margin-left: 58.05487%;
  }

  .register .signin-twitter {
    position: relative;
    z-index: 91;
    width: 16.0567629476%;
    margin-left: 4.9692299999%;
  }

  .register .signup {
    position: relative;
    z-index: 88;
    width: 36.6109838538%;
    margin-left: 5.37183%;
  }

  .row {
    margin-left: 9.99756%;
  }

  .row .random-quotes {
    width: 47.4747225647%;
    margin-left: 2.22019%;
  }

  .row .register {
    width: 47.4747225647%;
    margin-left: -4.13774%;
  }

  .navbar ._text {
    width: 8.3312583001%;
    margin-top: 3px;
    margin-left: 45.83126%;
  }

  .col-half-page .quotes-1,
  .col-half-page .quotes-2 {
    width: 93.3653426451%;
  }

  .col-half-page .quotes-3 {
    width: 97.9196337741%;
    margin-right: 2.0830099999%;
  }

  .col-half-page-1 {
    z-index: 64;
    margin-left: 9.99756%;
  }

  .col-half-page-2 {
    z-index: 20;
    margin-left: 1.62354%;
  }

  .element-2 {
    margin-left: 55.99976%;
  }

  .quote .quote-info-3 {
    position: relative;
    z-index: 83;
    margin-top: -48px;
  }

  .quote .quote-info-6 {
    position: relative;
    z-index: 59;
    margin-top: -34px;
  }

  .quote .quote-text-2 {
    position: relative;
    z-index: 69;
  }

  .quote .quote-text-3 {
    position: relative;
    z-index: 84;
  }

  .quote .quote-text-4 {
    width: 100.1199548405%;
    margin-left: -0.11969%;
  }

  .quote .quote-text-5 {
    width: 100.1199548405%;
    margin-left: -0.11684%;
  }

  .quote .quote-text-6 {
    position: relative;
    z-index: 60;
    width: 100.1199548405%;
    margin-left: -0.11684%;
  }

  .quote-info .author-10 {
    z-index: 13;
  }

  .quote-info .author-2 {
    position: relative;
    z-index: 66;
  }

  .quote-info .author-3 {
    position: relative;
    z-index: 81;
  }

  .quote-info .author-8 {
    z-index: 1;
  }

  .quote-info .author-9 {
    z-index: 7;
  }

  .quote-info .likes-2 {
    position: relative;
    z-index: 65;
    width: 20.2543270929%;
  }

  .quote-info .likes-4,
  .quote-info .likes-5,
  .quote-info .likes-6 {
    width: 20.2740887256%;
  }

  .quote-info .source-2 {
    position: relative;
    z-index: 67;
  }

  .quote-info .source-3 {
    position: relative;
    z-index: 82;
  }

  .quote-info .source-it-1,
  .quote-info .source-it-2,
  .quote-info .source-it-3 {
    width: 20.2528962983%;
  }

  .quotes .author-4 {
    z-index: 26;
    width: 99.9117708117%;
  }

  .quotes .author-5 {
    z-index: 32;
    margin-left: 51.9112%;
  }

  .quotes .author-6 {
    z-index: 39;
    margin-left: -0.06677%;
  }

  .quotes .author-7 {
    clear: both;
    z-index: 45;
    margin-left: 3.90586%;
  }

  .quotes .quote-4 {
    position: relative;
    z-index: 51;
    width: 92.9769882084%;
    margin-top: 4px;
    margin-left: 84.88844%;
  }

  .quotes .quote-7 {
    position: relative;
    z-index: 5;
    width: 92.9779946024%;
    margin-top: 421px;
    margin-left: -19.3156500001%;
  }

  .quotes .quote-8 {
    position: relative;
    z-index: 11;
    width: 92.9779946024%;
    margin-top: -545px;
    margin-left: -0.12202%;
  }

  .quotes .quote-9 {
    position: relative;
    z-index: 17;
    width: 92.9779946024%;
    margin-top: -379px;
    margin-left: -0.12202%;
  }

  .quotes .section-title-1 {
    position: relative;
    z-index: 62;
    width: 80.1672640382%;
  }

  .random-quotes .quote-1 {
    width: 70.3687686743%;
  }

  .random-quotes .quote-2 {
    margin-top: 528px;
    margin-left: -7.02309%;
  }

  .random-quotes .quote-3 {
    margin-top: -462px;
  }
}

@media(max-width: 480px) {
  .author .horizontal-center {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .col-half-page {
    position: relative;
  }

  .container .likes,
  .quote-info .likes-3,
  .quote-info .likes-7,
  .quote-info .likes-8,
  .quote-info .likes-9,
  .quote-info .source-it-4,
  .quote-info .source-it-5,
  .quote-info .source-it-6 {
    width: 20.2577436129%;
  }

  .container .quote-info {
    width: 99.8693542366%;
  }

  .container .quote-text {
    position: relative;
    z-index: 75;
    width: 99.8693542366%;
    margin-left: 0.09332%;
  }

  .element {
    position: relative;
    z-index: 97;
  }

  .horizontal-center .author-dates,
  .horizontal-center .author-info,
  .horizontal-center .author-likes,
  .horizontal-center .author-name {
    width: 120.8593581735%;
  }

  .navbar {
    width: 90%;
    margin-top: 101px;
    margin-left: 10%;
  }

  .navbar .text {
    width: 13.4403935185%;
    margin-left: 44.53487%;
  }

  .quote .element {
    position: relative;
    z-index: 70;
  }

  .quote-info .author {
    width: 20.2577436129%;
  }

  .quotes .author {
    position: relative;
  }

  .register .signin {
    position: relative;
    z-index: 89;
    width: 36.6139268794%;
    margin-left: 16.0200299999%;
  }

  .register .signin-facebook {
    position: relative;
    z-index: 90;
    width: 16.0632877447%;
    margin-left: 58.06296%;
  }

  .register .signin-twitter {
    position: relative;
    z-index: 91;
    width: 16.0543487977%;
    margin-left: 4.93887%;
  }

  .register .signup {
    position: relative;
    z-index: 88;
    width: 36.6139268794%;
    margin-left: 5.30471%;
  }

  .row {
    margin-left: 10%;
  }

  .row .random-quotes {
    width: 47.4747474747%;
    margin-top: 210px;
    margin-left: 2.19727%;
  }

  .row .register {
    width: 47.4747474747%;
    margin-top: 210px;
    margin-left: -4.13005%;
  }

  .navbar ._text {
    width: 8.3297164351%;
    margin-left: 45.82972%;
  }

  .col-half-page .quotes-1,
  .col-half-page .quotes-2 {
    width: 93.3654069993%;
  }

  .col-half-page .quotes-3 {
    width: 97.9166666666%;
    margin-right: 2.05286%;
  }

  .col-half-page-1 {
    z-index: 64;
    margin-left: 10%;
  }

  .col-half-page-2 {
    clear: both;
    z-index: 20;
    margin-top: -103px;
    margin-left: 1.63086%;
  }

  .element-2 {
    clear: none;
    margin-top: -434px;
    margin-left: 15.20182%;
  }

  .quote .quote-info-3 {
    position: relative;
    z-index: 83;
    margin-top: -175px;
  }

  .quote .quote-info-6 {
    position: relative;
    z-index: 59;
    margin-top: -102px;
  }

  .quote .quote-text-2 {
    position: relative;
    z-index: 69;
  }

  .quote .quote-text-3 {
    position: relative;
    z-index: 84;
  }

  .quote .quote-text-4 {
    width: 100.1241955515%;
    margin-left: -0.1149%;
  }

  .quote .quote-text-5 {
    width: 100.1241955515%;
    margin-left: -0.11573%;
  }

  .quote .quote-text-6 {
    position: relative;
    z-index: 60;
    width: 100.1241955515%;
    margin-left: -0.11573%;
  }

  .quote-info .author-10 {
    z-index: 13;
  }

  .quote-info .author-2 {
    position: relative;
    z-index: 66;
  }

  .quote-info .author-3 {
    position: relative;
    z-index: 81;
  }

  .quote-info .author-8 {
    z-index: 1;
  }

  .quote-info .author-9 {
    z-index: 7;
  }

  .quote-info .likes-2 {
    position: relative;
    z-index: 65;
    width: 20.2577436129%;
  }

  .quote-info .likes-4,
  .quote-info .likes-5,
  .quote-info .likes-6 {
    width: 20.2667570927%;
  }

  .quote-info .source-2 {
    position: relative;
    z-index: 67;
  }

  .quote-info .source-3 {
    position: relative;
    z-index: 82;
  }

  .quote-info .source-it-1,
  .quote-info .source-it-2,
  .quote-info .source-it-3 {
    width: 20.2441505595%;
  }

  .quotes .author-4 {
    z-index: 26;
    width: 99.916957316%;
  }

  .quotes .author-5 {
    z-index: 32;
    margin-left: 51.90955%;
  }

  .quotes .author-6 {
    z-index: 39;
    margin-left: -0.07122%;
  }

  .quotes .author-7 {
    clear: none;
    z-index: 45;
    margin-left: 3.90813%;
  }

  .quotes .quote-4 {
    position: relative;
    z-index: 51;
    width: 92.9770611702%;
    margin-top: 178px;
    margin-left: 84.87492%;
  }

  .quotes .quote-7 {
    position: relative;
    z-index: 5;
    width: 92.9828932071%;
    margin-top: 1044px;
    margin-left: -19.3532%;
  }

  .quotes .quote-8 {
    position: relative;
    z-index: 11;
    width: 92.9828932071%;
    margin-top: -1276px;
    margin-left: -0.19523%;
  }

  .quotes .quote-9 {
    position: relative;
    z-index: 17;
    width: 92.9828932071%;
    margin-top: -1110px;
    margin-left: -0.2037200001%;
  }

  .quotes .section-title-1 {
    position: relative;
    z-index: 62;
    width: 80.1695478723%;
  }

  .random-quotes .quote-1 {
    width: 70.3717682581%;
  }

  .random-quotes .quote-2 {
    margin-top: 620px;
    margin-left: -7.00266%;
  }

  .random-quotes .quote-3 {
    margin-top: -554px;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1.563em;
  }

  .author .horizontal-center {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .col-half-page {
    position: relative;
  }

  .container .likes,
  .quote-info .likes-7,
  .quote-info .likes-8,
  .quote-info .likes-9,
  .quote-info .source-it-4,
  .quote-info .source-it-5,
  .quote-info .source-it-6 {
    width: 20.2441505595%;
  }

  .container .quote-info {
    width: 99.8599831979%;
  }

  .container .quote-text {
    position: relative;
    z-index: 75;
    width: 99.8599831979%;
    margin-left: 0.05601%;
  }

  .element {
    position: relative;
    z-index: 97;
  }

  .horizontal-center .author-dates,
  .horizontal-center .author-info,
  .horizontal-center .author-likes,
  .horizontal-center .author-name {
    width: 120.8562197092%;
  }

  .navbar {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .navbar .text {
    width: 12.0947265625%;
    margin-left: 45.06836%;
  }

  .quote .element {
    position: relative;
    z-index: 70;
  }

  .quote-info .author {
    width: 20.2441505595%;
  }

  .quotes .author {
    position: relative;
  }

  .register .signin {
    position: relative;
    z-index: 89;
    width: 36.6049879324%;
    margin-left: 15.992%;
  }

  .register .signin-facebook {
    position: relative;
    z-index: 90;
    margin-left: 58.01139%;
  }

  .register .signin-twitter {
    position: relative;
    z-index: 91;
    width: 16.0498793242%;
    margin-left: 4.89457%;
  }

  .register .signup {
    position: relative;
    z-index: 88;
    width: 36.6049879324%;
    margin-left: 5.34093%;
  }

  .row .random-quotes {
    width: 47.4727746212%;
    margin-top: 45px;
    margin-left: 2.20337%;
  }

  .row .register {
    width: 47.4727746212%;
    margin-top: 45px;
    margin-left: -4.13208%;
  }

  .navbar ._text {
    width: 8.330078125%;
    margin-left: 45.83496%;
  }

  .col-half-page .quotes-1,
  .col-half-page .quotes-2 {
    width: 93.3651495751%;
  }

  .col-half-page .quotes-3 {
    width: 97.9125976562%;
    margin-right: 2.06957%;
  }

  .col-half-page-1 {
    z-index: 64;
  }

  .col-half-page-2 {
    z-index: 20;
    margin-top: -204px;
  }

  .element-2 {
    margin-top: -333px;
    margin-left: 15.2002%;
  }

  .quote .quote-info-3 {
    position: relative;
    z-index: 83;
    margin-top: -280px;
  }

  .quote .quote-info-6 {
    position: relative;
    z-index: 59;
    margin-top: -170px;
  }

  .quote .quote-text-2 {
    position: relative;
    z-index: 69;
  }

  .quote .quote-text-3 {
    position: relative;
    z-index: 84;
  }

  .quote .quote-text-4 {
    width: 100.1185436071%;
    margin-left: -0.11491%;
  }

  .quote .quote-text-5 {
    width: 100.1185436071%;
    margin-left: -0.10684%;
  }

  .quote .quote-text-6 {
    position: relative;
    z-index: 60;
    width: 100.1185436071%;
    margin-left: -0.10684%;
  }

  .quote-info .author-10 {
    z-index: 13;
  }

  .quote-info .author-2 {
    position: relative;
    z-index: 66;
  }

  .quote-info .author-3 {
    position: relative;
    z-index: 81;
  }

  .quote-info .author-8 {
    z-index: 1;
  }

  .quote-info .author-9 {
    z-index: 7;
  }

  .quote-info .likes-2 {
    position: relative;
    z-index: 65;
    width: 20.2441505595%;
  }

  .quote-info .likes-3 {
    position: relative;
    z-index: 80;
    width: 20.2441505595%;
  }

  .quote-info .likes-4,
  .quote-info .likes-5,
  .quote-info .likes-6 {
    width: 20.2611054594%;
  }

  .quote-info .source-2 {
    position: relative;
    z-index: 67;
  }

  .quote-info .source-3 {
    position: relative;
    z-index: 82;
  }

  .quotes .author-4 {
    z-index: 26;
    width: 99.9128051818%;
  }

  .quotes .author-5 {
    z-index: 32;
    margin-left: 51.92308%;
  }

  .quotes .author-6 {
    z-index: 39;
    margin-left: -0.05342%;
  }

  .quotes .author-7 {
    z-index: 45;
    margin-left: 3.88622%;
  }

  .quotes .quote-4 {
    position: relative;
    z-index: 51;
    width: 92.9809250716%;
    margin-top: 392px;
    margin-left: 84.85577%;
  }

  .quotes .quote-7 {
    position: relative;
    z-index: 5;
    width: 92.9745889387%;
    margin-top: 1778px;
    margin-left: -19.29199%;
  }

  .quotes .quote-8 {
    position: relative;
    z-index: 11;
    width: 92.9745889387%;
    margin-top: -2078px;
    margin-left: -0.28015%;
  }

  .quotes .quote-9 {
    position: relative;
    z-index: 17;
    width: 92.9745889387%;
    margin-top: -1912px;
    margin-left: -0.28015%;
  }

  .quotes .section-title-1 {
    position: relative;
    z-index: 62;
    width: 80.1645680089%;
  }

  .random-quotes .quote-2 {
    margin-top: 1138px;
    margin-left: -6.99499%;
  }

  .random-quotes .quote-3 {
    margin-top: -1072px;
  }
}